<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="{{ site.title | default: site.github.repository_name }} : {{ site.description | default: site.github.project_tagline }}">

    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <title>{{ site.title | default: site.github.repository_name }}</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <h1 id="project_title"><a href="/">{{ site.title | default: site.github.repository_name }}</a></h1>
          <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">This site is written by Will Glynn. Ford people: find me at CAS-9606059.</p>
        <p>This document has been public since May 2016, as is <a href="https://github.com/willglynn/ford-wifi-is-broken.com/commits/master">its history</a>. Even <a href="https://github.com/willglynn/ford-wifi-is-broken.com/blob/dc20457ed322915b7d84b333fc3d50520356bc72/sync3-wifi-issue.md">the very first version</a> had all the information needed to find and fix this.</p>
      </footer>
    </div>



  </body>
</html>
